@import "./font.css";
@import './base.css';

html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    color: var(--color-text);
    background: var(--color-background);
    transition: color 0.5s, background-color 0.5s;
    line-height: var(--line-height);
    font-family: var(--font-base);
    font-size: 15px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#app {
    min-height: 100vh;
}

a {
    text-decoration: none;
    transition: 0.3s;
    text-underline-offset: 3px;
}

ul {
    list-style: none;
}

.shadow {
    box-shadow: var(--base-shadow);
}

.rounded {
    -webkit-border-radius: var(--radius);
    -moz-border-radius: var(--radius);
    border-radius: var(--radius);
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

input {
    border: none;
}

.overflow-hidden {
    overflow: hidden;
}

.basepage {
    padding: 66px 10px 10px;
    min-height: 100vh;
    background-color: var(--gray-light);
}

.default-page {
    display: flex;
    flex-direction: column;
}

.centered-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1.title {
    text-align: center;
    color: var(--blue-dark);
    margin-bottom: 35px;
}

.subtitle {
    font-weight: 700;
    color: var(--gray-dark);
}

.title {
    font-weight: 700;
}

.page-container {
    width: 100%;
    max-width: 1400px;
}

.swiper {
    height: 100%;
}

.swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-button-next,
.swiper-button-prev {
    background-color: var(--blue-light);
    width: 32px;
    height: 32px;
}

.swiper-button-next {
    right: 0;
    -webkit-border-radius: 3px 0 0 3px;
    -moz-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px;
}

.swiper-button-prev {
    left: 0;
    -webkit-border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
}

.swiper-button-next:after,
.swiper-button-prev:after {
    color: var(--white);
    font-size: 12px;
}

.custompage {
    display: flex;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(180deg, #57E8DF 16.25%, #A557CA 88.31%);
    padding: 10px;
}

.custom-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    align-items: center;
    row-gap: 20px;
    text-align: center;
    color: var(--white);
    padding: 23px 37px;
    max-width: 481px;
}

.light {
    position: absolute;
    width: 0;
    background-color: white;
    box-shadow: #e9f1f1 0 0 20px 2px;
    opacity: 0;
    top: 100vh;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.Vue-Toastification__toast {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.x1 {
    -webkit-animation: floatUp 4s infinite linear;
    -moz-animation: floatUp 4s infinite linear;
    -o-animation: floatUp 4s infinite linear;
    animation: floatUp 4s infinite linear;
    -webkit-transform: scale(1.0);
    -moz-transform: scale(1.0);
    -o-transform: scale(1.0);
    transform: scale(1.0);
}

.x2 {
    -webkit-animation: floatUp 7s infinite linear;
    -moz-animation: floatUp 7s infinite linear;
    -o-animation: floatUp 7s infinite linear;
    animation: floatUp 7s infinite linear;
    -webkit-transform: scale(1.6);
    -moz-transform: scale(1.6);
    -o-transform: scale(1.6);
    transform: scale(1.6);
    left: 15%;
}

.x3 {
    -webkit-animation: floatUp 2.5s infinite linear;
    -moz-animation: floatUp 2.5s infinite linear;
    -o-animation: floatUp 2.5s infinite linear;
    animation: floatUp 2.5s infinite linear;
    -webkit-transform: scale(.5);
    -moz-transform: scale(.5);
    -o-transform: scale(.5);
    transform: scale(.5);
    left: -15%;
}

.x4 {
    -webkit-animation: floatUp 4.5s infinite linear;
    -moz-animation: floatUp 4.5s infinite linear;
    -o-animation: floatUp 4.5s infinite linear;
    animation: floatUp 4.5s infinite linear;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
    left: -34%;
}

.x5 {
    -webkit-animation: floatUp 8s infinite linear;
    -moz-animation: floatUp 8s infinite linear;
    -o-animation: floatUp 8s infinite linear;
    animation: floatUp 8s infinite linear;
    -webkit-transform: scale(2.2);
    -moz-transform: scale(2.2);
    -o-transform: scale(2.2);
    transform: scale(2.2);
    left: -57%;
}

.x6 {
    -webkit-animation: floatUp 3s infinite linear;
    -moz-animation: floatUp 3s infinite linear;
    -o-animation: floatUp 3s infinite linear;
    animation: floatUp 3s infinite linear;
    -webkit-transform: scale(.8);
    -moz-transform: scale(.8);
    -o-transform: scale(.8);
    transform: scale(.8);
    left: -81%;
}

.x7 {
    -webkit-animation: floatUp 5.3s infinite linear;
    -moz-animation: floatUp 5.3s infinite linear;
    -o-animation: floatUp 5.3s infinite linear;
    animation: floatUp 5.3s infinite linear;
    -webkit-transform: scale(3.2);
    -moz-transform: scale(3.2);
    -o-transform: scale(3.2);
    transform: scale(3.2);
    left: 37%;
}

.x8 {
    -webkit-animation: floatUp 4.7s infinite linear;
    -moz-animation: floatUp 4.7s infinite linear;
    -o-animation: floatUp 4.7s infinite linear;
    animation: floatUp 4.7s infinite linear;
    -webkit-transform: scale(1.7);
    -moz-transform: scale(1.7);
    -o-transform: scale(1.7);
    transform: scale(1.7);
    left: 62%;
}

.x9 {
    -webkit-animation: floatUp 4.1s infinite linear;
    -moz-animation: floatUp 4.1s infinite linear;
    -o-animation: floatUp 4.1s infinite linear;
    animation: floatUp 4.1s infinite linear;
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
    transform: scale(0.9);
    left: 85%;
}


@-webkit-keyframes floatUp {
    0% {
        top: 100vh;
        opacity: 0;
    }
    25% {
        opacity: 1;
    }
    50% {
        top: 0;
        opacity: .8;
    }
    75% {
        opacity: 1;
    }
    100% {
        top: -100vh;
        opacity: 0;
    }
}

@-moz-keyframes floatUp {
    0% {
        top: 100vh;
        opacity: 0;
    }
    25% {
        opacity: 1;
    }
    50% {
        top: 0;
        opacity: .8;
    }
    75% {
        opacity: 1;
    }
    100% {
        top: -100vh;
        opacity: 0;
    }
}

@-o-keyframes floatUp {
    0% {
        top: 100vh;
        opacity: 0;
    }
    25% {
        opacity: 1;
    }
    50% {
        top: 0;
        opacity: .8;
    }
    75% {
        opacity: 1;
    }
    100% {
        top: -100vh;
        opacity: 0;
    }
}

@keyframes floatUp {
    0% {
        top: 100vh;
        opacity: 0;
    }
    25% {
        opacity: 1;
    }
    50% {
        top: 0;
        opacity: .8;
    }
    75% {
        opacity: 1;
    }
    100% {
        top: -100vh;
        opacity: 0;
    }
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadeOut {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    80% {
        opacity: .9;
    }
    100% {
        opacity: 0;
    }
}

@-moz-keyframes fadeOut {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    80% {
        opacity: .9;
    }
    100% {
        opacity: 0;
    }
}

@-o-keyframes fadeOut {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    80% {
        opacity: .9;
    }
    100% {
        opacity: 0;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    80% {
        opacity: .9;
    }
    100% {
        opacity: 0;
    }
}

@-webkit-keyframes finalFade {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    80% {
        opacity: .9;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes finalFade {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    80% {
        opacity: .9;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes finalFade {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    80% {
        opacity: .9;
    }
    100% {
        opacity: 1;
    }
}

@keyframes finalFade {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    80% {
        opacity: .9;
    }
    100% {
        opacity: 1;
    }
}

@media (min-width: 1280px) {
    .basepage {
        padding: 66px 16px 16px 66px;
        min-height: 100vh;
    }

    .extrapage {
        padding: 66px 20px 10px 70px;
    }
}

@media (min-width: 1920px) {
    .basepage {
        padding: 90px 20px 20px 90px;
    }

    .extrapage {
        padding: 90px 20px 10px 90px;
    }
}