@import "./font.css";
@import './base.css';

body {
    min-height: 100vh;
    color: var(--color-text);
    background: var(--color-background);
    transition: color 0.5s, background-color 0.5s;
    line-height: var(--line-height);
    font-family: var(--font-base);
    font-size: 15px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#app {
    min-height: 100vh;
}

a {
    text-decoration: none;
    transition: 0.3s;
}

ul {
    list-style: none;
}

.shadow {
    box-shadow: var(--base-shadow);
}

.rounded {
    -webkit-border-radius: var(--radius);
    -moz-border-radius: var(--radius);
    border-radius: var(--radius);
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.overflow-hidden {
    overflow: hidden;
}

.basepage {
    padding: 66px 10px 10px;
    background-color: var(--gray-light);
}


.swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-button-next,
.swiper-button-prev {
    background-color: var(--blue-light);
    width: 32px;
    height: 32px;
}

.swiper-button-next {
    right: 0;
    -webkit-border-radius: 3px 0 0 3px;
    -moz-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px;
}

.swiper-button-prev {
    left: 0;
    -webkit-border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
}

.swiper-button-next:after,
.swiper-button-prev:after {
    color: var(--white);
    font-size: 12px;
}

@media (min-width: 1280px) {
    .basepage {
        padding: 66px 16px 16px 66px;
    }
}

@media (min-width: 1920px) {
    .basepage {
        padding: 90px 20px 20px 90px;
    }
}